<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.example.org/xtext/lexertrace/Lexertrace"
			class = "org.example.xtext.lexertrace.lexertrace.LexertracePackage"
			genModel = "model/generated/Lexertrace.genmodel" />
	</extension>
</plugin>
